.DS_Store

# Dependencies
node_modules
package-lock.json

# Build outputs
/build
/.svelte-kit
/package
dist

# Env
.env
.env.*
!.env.example

# Vite timestamps
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.idea
.vscode
/.vs

# Local generated config
server-config.json

# Runtime/local config folder
/config

# Local docker compose
docker-compose.yml

# Runtime local static files
static/services.json
static/settings.json

# Logs
logs
*.log

# Cache
.cache
.pnpm-store